spring:
  application:
    name: booking-service
resilience4j:
  circuitbreaker:
    instances:
      flightServiceCircuitBreaker:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
management:
  endpoints:
    web:
      exposure:
        include: health, circuitbreakers
